.button__item {
    border: none;
    color: teal;
    padding: 20px;
    background-color: white;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .button__item {
        width: 100%;
    }
}

.button__item:hover {
    color: rgb(56, 179, 179);
}

.button__item:disabled {
    color: #ccc;
}

.button--hidden {
    display: none;
}