.header {
    margin-bottom: 25px;
    font-size: 16px;
}

.header__tittle {
    padding-top: 20px;
    padding-bottom: 10px;
}

@media (max-width: 996px) {
    .header__tittle {
        padding-top: 5px;
        padding-bottom: 3px;
    }
}