.section {
    margin: 0px auto;
    background-color: white;
}

.section__tasks {
    margin: 25px 0;
}

.section__container {
    border-bottom: 1px solid rgb(214, 214, 214);
}

.section__container--tittleTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__tittle {
    padding: 20px;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0px;
}

.section__button {
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    width: 150px;
    background-color: teal;
    color: white;
    border: none;
    transition: 0.5s;
}

.section__button:hover {
    background-color: rgb(56, 179, 179);
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .section__button {
        align-self: center;
        margin-bottom: 20px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

.section__input {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    height: 40px;
    border: 1px solid rgb(214, 214, 214);
}

@media (max-width: 767px) {
    .section__input {
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }
}

.section__paragraph {
    flex-basis: 100%;
    padding: 0px 0px 0px 20px;
}

@media (max-width: 767px) {
    .section__paragraph {
        padding: 0;
        margin-bottom: 10px;
    }
}

.section__form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media (max-width: 767px) {
    .section__form {
        flex-wrap: wrap;
        align-items: center;
    }
}

.section__list {
    margin: 0px;
    list-style: none;
    padding: 30px 30px;
}

.section__item {
    display: flex;
    border-bottom: 1px solid rgb(214, 214, 214);
    padding: 10px 0px;
    align-items: center;
    word-break: break-all;
}

@media (max-width: 767px) {
    .section__item {
        word-break: break-all;
    }
}

.section__item--strikeout {
    text-decoration: line-through;
}

.section__imageButton {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border: none;
}

.section__imageButton--red {
    margin-left: auto;
    background-color: rgb(228, 39, 39);
    background-position: center;
    background-size: cover;
    color: white;
    transition: 0.5s;
}

.section__imageButton--red:hover {
    background-color: rgb(255, 101, 45);
}

.section__imageButton--green {
    margin-right: 10px;
    background-color: darkgreen;
    background-position: center;
    transition: 0.5s;
    background-size: cover;
    color: white;
}

.section__imageButton--green:hover {
    background-color: forestgreen;
}

.section__task {
    margin: 0 10px;
}